.small-container {
    width: 95%;
    margin: 0 auto;
}

.overlay {
    background-color: rgba(0, 0, 0, .51);
    width: 100%;
    height: 100%;
}

.violet-overlay {
    background-color: rgba(189, 140, 191, .51);
    width: 100%;
    height: 100%;
    padding: 70px 0;
}

.white-overlay {
    background-color: rgba(255, 255, 255, .7);
    height: 100%;
    width: 100%;
}

h2 span, h1 span {
    color: #bd8cbf;
}

li {
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}

a, button {
    transition: all .5s ease;
}

button {
    padding: 0
}

body {
    font-size: 1.1rem;
}
header{
	background-color: gray;
}

/* navbar */

nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 1000;
    font-family: 'Open Sans', sans-serif;
}

nav.navbar a, nav.navbar ul li a {
    color: rgb(0, 0, 0) !important;
}
nav.navbar a:hover, nav.navbar ul li a:hover{
    font-weight: bold;
}

nav.navbar ul li {
    padding: 0 5px;
}

nav.navbar .search-container {
    position: relative;
}

nav.navbar form {
    padding: 5px;
    background-color: white;
    position: absolute;
    width: 260px;
    display: none;
}

nav.navbar form input {
    padding: 5px 10px;
    border: 1px solid #b7b5b5;
    background-color: #e6e3e3;
    width: 100%;
}

/* header

header {
    position: relative;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

header .container {
    height: 100%
}

header .container > div {
    margin: 0 auto;
    position: relative;
    text-align: center;
}

header .container > div h1 {
    font-size: 90px;
}

header button {
    background-color: transparent;
    display: block;
    border: 1px solid #FFF;
    border-radius: 50px;
    padding: 0;
    margin: 30px auto;
}

header button a {
    padding: 10px 40px;
    display: block;
    color: #FFF;
}

header button:hover {
    background-color: #bd8cbf;
    border: 1px solid #bd8cbf;
}

header button:hover a {
    color: white;
}
 */

/* footer */

footer, footer a {
    color: white;
}

footer {
    display: block;
    overflow: hidden;
    background-color: #563158;
}

footer a:hover {
    color: #bd8cbf
}

footer .container > ul {
    overflow: hidden;
    margin: 30px 0;
    padding-left: 0;
}

footer .container > ul li {
    float: left;
    padding-right: 25px;
}

footer .item h4 {
    margin-bottom: 20px
}

footer .item p.address {
    line-height: 1.2;
    font-size: 16px;
}

footer .item ul {
    padding-left: 0;
}

footer .item ul li {
    margin-bottom: 3px;
    font-size: 16px;
}

footer .date p {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 300;
}

footer .item form {
    overflow: hidden;
}

footer .item form input {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
}

footer .item form input[type="submit"] {
    width: 100px;
    height: 40px;
    line-height: 4px;
    background-color: #ef44f8;
    border: none;
    float: right;
    color: #FFF;
    padding: 0
}

footer .copyright {
    background-color: #59355b;
    padding: 15px 0;
}

footer .copyright p {
    margin-bottom: 0;
    font-size: 16px;
}

@media (max-width: 992px) {
    
    /* header */
    
    header h1 {
        font-size: 65px !important;
    } 
    
    /* navbar */
    
    .navbar ul {
        background-color: rgba(189, 140, 191, .85);
    }
    .navbar ul li {
        margin: 10px 0;
    }
    nav.navbar form {
        width: 100%;
        position: static;
    }
    /* footer */
    
    footer .col-lg-3 {
        margin-bottom: 40px;
    }
    
}

@media (max-width: 768px) {
    
    /* header */
    
    header h1 {
        font-size: 50px !important;
    }    
}

.bradcam_area {
  background-size: cover;
  background-position: center center;
  padding: 175px 0;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 13, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_bradcam.scss */
  .bradcam_area {
    padding: 120px 0;
  }
}

/* line 23, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_bradcam.scss */
.bradcam_area::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #040E27;
  opacity: .1;
  z-index: -1;
  content: '';
}

@media (max-width: 767px) {
  /* line 13, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_bradcam.scss */
  .bradcam_area {
    padding: 150px 0;
  }
}

/* line 37, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_bradcam.scss */
.bradcam_area h3 {
  font-size: 80px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 90px;
  text-transform: capitalize;
  font-family: "Nothing You Could Do", cursive;
}

@media (max-width: 767px) {
  /* line 37, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_bradcam.scss */
  .bradcam_area h3 {
    font-size: 40px;
  }
}

/* line 49, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_bradcam.scss */
.bradcam_area p {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
}

/* line 54, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_bradcam.scss */
.bradcam_area p a {
  color: #fff;
}

/* line 56, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_bradcam.scss */
.bradcam_area p a:hover {
  color: #fff;
}

/* line 62, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_bradcam.scss */
.bradcam_area .bradcam_text2 h3 {
  font-size: 50px;
  margin-bottom: 14px;
}

@media (max-width: 767px) {
  /* line 62, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_bradcam.scss */
  .bradcam_area .bradcam_text2 h3 {
    font-size: 30px;
  }
}

/* line 69, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_bradcam.scss */
.bradcam_area .bradcam_text2 p {
  font-size: 20px;
  margin-bottom: 0;
}

/* line 74, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_bradcam.scss */
.bradcam_area.Extra_padding {
  padding: 399px 0;
}

@media (max-width: 767px) {
  /* line 74, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_bradcam.scss */
  .bradcam_area.Extra_padding {
    padding: 150px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 74, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_bradcam.scss */
  .bradcam_area.Extra_padding {
    padding: 150px 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 74, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_bradcam.scss */
  .bradcam_area.Extra_padding {
    padding: 150px 0;
  }
}




.popular_destination_area {
  padding-top: 0px;
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  .popular_destination_area {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
.popular_destination_area .single_destination {
  position: relative;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.popular_destination_area .single_destination:before {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#040e27+0,040e27+100&0+0,0.7+100 */
  background: -moz-linear-gradient(top, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00040e27', endColorstr='#b3040e27',GradientType=0 );
  /* IE6-9 */
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
}

.popular_destination_area .single_destination .thumb img {
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.popular_destination_area .single_destination .content {
  position: absolute;
  left: 30px;
  bottom: 30px;
  z-index: 7;
}

.popular_destination_area .single_destination .content p {
  margin-bottom: 0;
  font-size: 22px;
  color: #fff;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


.popular_destination_area .single_destination .content p a {
  display: inline-block;
  background: #1EC6B6;
  font-size: 12px;
  border-radius: 30px;
  font-weight: 400;
  padding: 0px 12px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  margin-left: 10px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.popular_destination_area .single_destination:hover {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}
.popular_destination_area .single_destination:hover .content p {
  color: #FF4A52;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.popular_destination_area .single_destination:hover .content p a {
  background: #FF4A52;
  color: #fff;
}
/* find Package*/
.filter_result_wrap h3 {
  font-size: 16px;
  font-weight: 500;
  color: #001D38;
  margin-bottom: 26px;
}

/* line 103, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .filter_bordered {
  border: 1px solid #DEE2E7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
}

@media (max-width: 767px) {
  /* line 103, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
  .filter_result_wrap .filter_bordered {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 103, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
  .filter_result_wrap .filter_bordered {
    margin-bottom: 30px;
  }
}

/* line 114, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .filter_inner {
  display: block;
  overflow: visible;
}

/* line 118, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .filter_inner .nice-select {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #AAB1B7;
  font-weight: 300;
  background: transparent;
  border: 1px solid #DEE2E7;
  margin-bottom: 15px;
}

/* line 128, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .filter_inner .nice-select::after {
  content: '\f0d7 ';
  right: 21px;
  top: 5px;
  font-family: 'fontawesome';
  color: #AAB1B7;
  font-size: 16px;
}

/* line 136, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .filter_inner .nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
  font-weight: 400;
}

/* line 151, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .filter_inner .nice-select.open .list {
  width: 100%;
}

/* line 157, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .range_slider_wrap span.range {
  color: #040E27;
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin-bottom: 15px;
}

/* line 164, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .range_slider_wrap p {
  margin-top: 14px;
  margin-bottom: 27px;
}

/* line 167, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .range_slider_wrap p input {
  background-color: transparent;
}

/* line 171, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .range_slider_wrap .ui-widget.ui-widget-content {
  border: 0;
  background: #FFD8DA;
}

/* line 175, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .range_slider_wrap .ui-slider-horizontal {
  height: 2px;
}

/* line 178, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .range_slider_wrap .ui-state-default, .filter_result_wrap .range_slider_wrap .ui-widget-content .ui-state-default, .filter_result_wrap .range_slider_wrap .ui-widget-header .ui-state-default, .filter_result_wrap .range_slider_wrap .ui-button, .filter_result_wrap .range_slider_wrap html .ui-button.ui-state-disabled:hover, .filter_result_wrap .range_slider_wrap html .ui-button.ui-state-disabled:active {
  border: 2px solid #FF4A52;
  background: #fff;
  font-weight: normal;
  width: 14px;
  height: 16px;
  border-radius: 5px;
}

/* line 186, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .range_slider_wrap .ui-widget-header {
  background: #FF4A52;
}

/* line 189, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .range_slider_wrap .ui-slider-horizontal .ui-slider-handle {
  top: -7px;
  margin-left: -.6em;
}

/* line 195, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .reset_btn button {
  width: 100%;
}
